.NavButton
  color white
  border-radius 8px
  border transparent
  width 100%
  padding 10px
  margin-top 20px
.ButtonNext
  // 下一步的按钮
  @extend .NavButton
  background-color $theme-color
.ButtonBack
  //上一步的按钮
  @extend .NavButton
  background-color $orange-color
